<!doctype html>
<html>

<head>
  <title>Meadowlark Travel</title>
</head>

<body>
  <header><img src="/img/CDN.png" alt="Content Delivery Network"></header>
  {{{body}}}
</body>

</html>
